/*http://thinkful-ed.github.io/karma-clone/*/

/*Navigation Section*/
html{
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
.top-navigation{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom:1px solid;
	z-index: 9999;
}

.top-navigation > .content{
	height: 4.375rem;
}

.content{
	padding: 0 0.938rem;
	margin:0 auto;
	min-width:37.5 rem;
}

body{
	background-color: LightGray;
}
div{
	border: 1x solid Chocolate;
}
img{
	margin-left:267px;
	margin-top:15px;
}